@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chivo:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --background: rgba(7, 50, 69);
  --container: rgba(131, 193, 232);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  list-style: none;
}

body {
  background: linear-gradient(165deg, #64c5a5 0%, #90f0dc 20%, #c7fdf7 40%, #8ffffd 60%, #6dd8db 80%);
}

/* projects */
.projects {
  background: url('/img/anchor2.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  height: 100vh;
}

.project-img {
  width: 300px;
  height: 400px;
  box-shadow: 0px 0px 20px #000;
  border-radius: 5px;
  border: 1px solid #fff;
}

.project-container {
  margin: 75px 100px;
}

.project-container:first-child {
  margin-top: 0px;
  padding-top: 75px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.grid:last-child {
  margin-bottom: 0px;
  padding: 75px;
}

.grid-item {
  padding: 10px;
  position: relative;
  background-color: rgba(65,	129,	131, .8);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 20px #000;
}

.grid-item img:hover {
  cursor: pointer;
  border: 3px solid #fff;
}

.grid-item h1 {
  padding: 20px 0px 10px;
  color: #fff;
}

