@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chivo:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --text-color: #154815;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}

.showcase {
  background: url('/img/home3.jpg');
  background-size: cover;
  color: var(--text-color);
  height: 100vh;
  overflow-x: hidden;
}

img {
  height: 6rem;
}

/* navbar */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  height: 75px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: rgba(300, 300, 300, 0.9);
  position: absolute;
  color: var(--text-color);
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform .5s ease-in;
}

.nav-item {
  font-size: 1.5rem;  
  width: 10rem;
  text-align: center;
  z-index: 5;
  position: absolute;
  transition: transform .5s ease-in;
  padding-bottom: 10px;
}

.nav-item:nth-child(4) {
  margin-right: 200px;
}

.hover-underline {
  display: inline-block;
  position: relative;
  color: var(--text-color);
}

.hover-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-active-left {
  transform: translateX(0%);
}

.nav-active-right {
  transform: translateX(100%);
}


/* burger menu */
.burger {
  margin-top: 40px;
  margin-right: 100px;
  cursor: pointer;
  z-index: 5;
}

.burger div {
  height: 4px;
  width: 50px;
  background-color: var(--text-color);
  border-radius: 2px;
  margin: 5px;
}

/* showcase */

.showcase-title {
  margin-top: 100px;
}

.showcase-title h1 {
  font-size: 5rem;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(7, 50, 69);
  color: #fff;
  padding: 20px 75px;
  text-align: center;
}

.footer-social a {
  color: #fff;
  padding: 10px 10px;
  position: relative;
  transition: top ease-in-out .7s;
}

.footer-social a:hover {
  top: -5px;
}

.footer-item {
  padding: 10px;
}


