
.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.container {
  margin: 0px 75px;
  text-align: center;
  overflow: hidden;
}

.fade-in {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.fade-in2 {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {opacity:0};
  100% {opacity:100};
}

@keyframes fade-in2 {
  0% {opacity:0};
  100% {opacity:100};
}

.display-none {
  display: none;
}

.active{
  display: block;
}

.burger-blk {
  background-color: rgba(0, 26, 51);
}

/* back button */
.back {
  color: #fff;
  position: absolute;
  font-size: .75rem;
  top: 20px;
  left: 50px;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  color: rgba(150, 150, 150);
}

.back-btn:hover {
  color: rgba(200, 200, 200);
  transition: .5s;
}