@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

:root {
  --primary-color--: #001a33;
  --secondary-color--: #0ebfe9;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-image: image("anchor.png");
  background-position: center;
  z-index: -2;
  background-size: cover;
}

.text-primary {
  font-family: "Kaushan Script", cursive;
}

.text-secondary {
  color: var(--secondary-color--);
}

.blue-bg {
  background-image: url("img/ocean3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--primary-color--);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.anchor-key {
  width: 200px;
  height: 260px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
}

.anchor-open {
  animation: 1.5s anchorKey 0.5s ease-out forwards;
}

.gate-open {
  animation: 1.5s gateOpen 0.5s linear forwards;
}
@keyframes anchorKey {
  0% {
    opacity: 0.5;
  }
  5% {
    opacity: 0.1;
  }
  50% {
    opacity: 0;
  }
  98% {
    opacity: 0.2;
  }
  100% {
    top: 25px;
    left: 50px;
    width: 45px;
    height: 60px;
    opacity: 1;
  }
}

@keyframes showtime {
  100% {
    opacity: 0.9;
  }
}

/* Navbar */
.navbar {
  position: relative;
  top: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  opacity: 0;
  animation: 3s showtime 1s linear forwards;
}

.navbar .icon {
  margin-left: 75px;
  font-size: 3rem;
  margin-top: 30px;
}

.navbar ul {
  margin-top: 40px;
  display: flex;
  width: 600px;
  justify-content: space-around;
  list-style-type: none;
}

.navbar ul li {
  font-size: 1.25rem;
}

.navbar ul li a {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--secondary-color--);
}

.navbar ul li a:hover {
  color: #fff;
  cursor: pointer;
  border-bottom: 2px solid #fff;
  opacity: 0.9;
}

/* Showcase */
.showcase {
  position: relative;
  z-index: -1;
  /* top: 30%;
  left: 50%; */
  /* transform: translateX(-50%); */
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
  opacity: 0;
  animation: 3s showtime 1s linear forwards;
}

.showcase-welcome {
  font-size: 4rem;
  color: #fff;
}

.showcase-text {
  font-size: 2rem;
  color: #fff;
}

.quote {
  position: relative;
  font-family: "Kaushan Script", cursive;
  margin-top: 170px;
  color: #001a33;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  opacity: 0.4;
}

@media (max-width: 800px) {
  body {
    width: 100%;
    height: 100%;
  }
  .anchor-key {
    display: none;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
    font-size: 4rem;
  }
  .navbar ul li {
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    margin-right: 20px;
  }
  .showcase-welcome {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  span {
    padding-top: 45px;
    font-size: 3.5rem;
  }
}
