@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #fff;
}

h3 {
  padding-left: 100px;
}

.anchor-key {
  box-shadow: none;
  position: absolute;
  top: -10px;
  left: 30px;
  width: 45px;
  height: 60px;
  z-index: 1;
}
.icon {
  margin-left: 80px;
  font-size: 3rem;
  margin-top: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  font-family: "Kaushan Script", cursive;
  color: #001a33;
}

p {
  font-size: 1.5rem;
}

.container {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.container .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 10px 3px 20px #001a33;
}

.btn {
  position: absolute;
  height: 40px;
  width: 15%;
  opacity: 0;
  border-radius: 10px;
}

.img-container:hover img {
  opacity: 0.7;
  cursor: inherit;
  transform: scale(0.98);
}

.img-container:hover .btn {
  opacity: 1;
  cursor: pointer;
  background-color: #fff;
  color: #001a33;
  font-size: 16px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #001a33;
}

/* footer */
.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #001a33;
  color: #fff;
}

ul {
  display: flex;
  color: #fff;
  list-style-type: none;
}

ul li .social {
  color: #fff;
  padding: 0 20px 0;
}

ul li:nth-child(3) {
  padding-right: 100px;
}

@media (max-width: 900px) {
  .anchor-key {
    height: 90px;
    width: 60px;
    margin-left: 135px;
    padding-bottom: 10px;
  }
  .icon {
    display: none;
  }
  h1 {
    margin-top: 100px;
    font-size: 2rem;
  }
  p {
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 250px;
    height: 250px;
  }
  .btn {
    width: 40%;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
  }
  h2 {
    text-align: center;
  }
  h3 {
    width: 100px;
    text-align: center;
    padding: 0;
  }
  ul li .social {
    padding: 0 5px 0;
  }
  ul li:nth-child(3) {
    padding-right: 0;
  }
}
